<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Post {{post.title}}</title>
    <script>
      const toggleCommentForm = () => {
        console.log('Toggle Comment Form called');
        const commentFormContainer = document.getElementById('commentFormContainer');
        console.log(commentFormContainer);
        commentFormContainer.style.display = 'block';
      };
    </script>
  </head>
  <body>
    <div class="container text-light">
      <h2>{{post.title}}</h2>
      <div class="post">
        {{!-- <h2>{{ post.title }}</h2> --}}
        <p>{{post.content}}</p>
        <p>Posted by {{post.User.username}} on {{formatDate post.createdAt}}</p>
      </div>

      <div id="commentFormContainer" style="display: none;">
        <!-- Your comment input form goes here -->
        <form id="commentForm">
          <!-- ... -->
        </form>
      </div>

      <button class="btn btn-success" onclick="toggleCommentForm()">Add a Comment</button>

      {{#if post.Comments.length}}
        <div class="comments">
          <h2>Comments</h2>
          {{#each post.Comments}}
            <div class="comment">
              <p>{{this.content}}</p>
              <p>Comment by
                {{this.User.username}}
                on
                {{formatDate this.createdAt}}</p>
            </div>
          {{/each}}
        </div>
      {{else}}
        <p>No comments for this post.</p>
      {{/if}}
    </div>
  </body>
</html>